#content-index {
  width: 100%;
  height: 100vh;
  margin: 30px auto 30px;

  text-align: justify;
  font-size: large;
}

form {
  width: 100%;
  height: 70vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 2%;
}

h1 {
  text-align: left;
  font-size: 3rem;
}

.rodape {
  text-align: center;
  font-size: small;
  padding: 20px 0;
  color: white;
}

.linha {
  border: none;
  border-top: 1px solid #ccc; /* linha tipo markdown */
  width: 80%; /* menor que a largura total */
  margin: 20px auto; /* centraliza */
}

.rodape a {
  color: #007bff;
  text-decoration: none;
}

.rodape a:hover {
  text-decoration: underline;
}
