#content-index {
  width: 100%;
  height: 100vh;
  margin: 30px auto 30px;
}

form {
  width: 100%;
  height: 80vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 4%;
}

p {
  text-align: justify;
  font-size: large;
}

h1 {
  text-align: left;
  font-size: 3rem;
}
