.container {
  width: 100%;
  height: 70vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 2%;
}

h1 {
  text-align: left;
  font-size: 3rem;
}

p {
  text-align: justify;
}

.rodape {
  text-align: center;
  font-size: small;
  padding: 20px 0;
  color: white;
}

.linha {
  border: none;
  border-top: 1px solid #ccc; /* linha tipo markdown */
  width: 80%; /* menor que a largura total */
  margin: 20px auto; /* centraliza */
}

.rodape a {
  color: #007bff;
  text-decoration: none;
}

.rodape a:hover {
  text-decoration: underline;
}

/* ----------------------------------------------------------------------------------------*/

.quiz-header {
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.quiz-main {
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px;
}

#questions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quizzes-header {
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;

  gap: 1.4rem;
  align-items: center;
}

#quizzes-container {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  justify-content: center;
  gap: 2rem;
  align-items: center;
}

#play-questions-container {
  margin-top: 40px;
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#result-container {
  padding-top: 30px;
  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
