{% extends 'layout.html' %} {% block content%}
<div class="container">
  <h1><strong>Hellor World!</strong></h1>
  <p>
    Esse é projeto está sendo desenvolvido como parte da disciplina de
    <code>Programação Orientada a Objetos</code>. Com o objetivo de construir um
    sistema educaional de quizzes, demonstrando plenitude no que tange ao uso de
    <code>classes</code>, APIs com o mini-framework <code>flask</code>,
    persistência de dados com <code>Sqlite3</code> e templates com
    <code>HTML, CSS e JavaScript.</code>
  </p>
  <p>
    Primeiramente, obrigado por acessa o projeto! Sua construção está sendo
    realmente muito desafiadora, mas também divertida - relembrando e aprendendo
    novos conceitos das stacks selecionadas.
    <code
      >Você pode começar a utilizar as funcionalidades pela barra de navegação
      acima, registrando e respondendo quizzes, validando o histórico de
      respostas com statísticas, fazendo login e loggout.</code
    >
  </p>
</div>

{% endblock%}
