{% extends "layout.html" %}
{% block content %}


<main>
    <section>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                    id="category">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="search()">Search</button>
            </form>
        </nav>
    </section>

    <section id="quizzes-container">
    </section>
</main>

<script>
    document.addEventListener("DOMContentLoaded", mostPopular);

    async function mostPopular() {
        const response = await fetch("/api/quizzes");
        const responseBody = await response.json()
        renderQuizzes(responseBody);
    }

    async function search() {
        const category = document.getElementById("category").value;
        const response = await fetch(`/api/quizzes/search?category=${category}`);
        const responseBody = await response.json()
        renderQuizzes(responseBody);
    }

    function renderQuizzes(quizzes) {
        const qContainer = document.getElementById("quizzes-container")

        qContainer.innerHTML = '';
        quizzes.forEach(quiz => {
            qContainer.insertAdjacentHTML("beforeend",
                // Quiz: id, title, category, description
                `
                <div class="card text-center">
                    <div class="card-header">
                        ${quiz.quiz_id} - ${quiz.title}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">${quiz.description}</p>
                        <a href="/quiz/${quiz.quiz_id}/play/" class="btn btn-primary">Go</a>
                    </div>
                    <div class="card-footer text-body-secondary">${quiz.category}</div>
                </div>
                `
            );
        });
    }
</script>
{% endblock %}