{% extends "layout.html" %} {% block content %}

<main id="play-questions-container"></main>

<footer>
  <!-- TEMPO PARA RESPONDER / CRONÔMETRO-->
</footer>

<script id="question-data" , type="aplication/json">
  {{ question | tojson }}
</script>
<script>
  let globalQuestion = JSON.parse(
    document.getElementById("question-data").textContent
  );

  document.addEventListener("DOMContentLoaded", () => {
    renderQuestion();
  });

  function renderQuestion() {
    let questionContainer = document.getElementById("play-questions-container");

    questionContainer.innerHTML = "";

    console.log(globalQuestion);

    questionContainer.insertAdjacentHTML(
      "beforeend",
      `
        <div class="card"  style="width: 800px; height: 500px;">
          <div class="card-header bg-primary text-white" style="text-align: center;">
            <strong style="font-size: 1.5rem;">${globalQuestion.proposition}</strong>
          </div>
          <div class="card-body">
            <div id="alternatives-${globalQuestion.id}">
                <!-- renderAlternatives preenche aqui -->
            </div>

            <div style="text-align: center; margin-top: 50px;">
                <button class="btn btn-success btn-lg" onclick="sendResponse()">
                <strong>Send response</strong>
              </button>
            </div>
          </div>

          <div class="card-footer">Assunto: ${globalQuestion.theme}</small></div>
        </div>
    `
    );
    renderAlternatives();
  }

  function renderAlternatives() {
    let containerAlternatives = document.getElementById(
      `alternatives-${globalQuestion.id}`
    );
    globalQuestion.alternatives.forEach((alt, idx) => {
      containerAlternatives.insertAdjacentHTML(
        "beforeend",
        `
          <div class="input-group mb-2">
              <div class="input-group-text">
                  <input
                      class="form-check-input"
                      type="radio"
                      name="correct-${globalQuestion.id}"
                      id="alt-${alt.label}-${globalQuestion.id}"
                      onchange="setCorrectAlternative(${
                        globalQuestion.id
                      }, '${idx}')"
                      required
                  > 
              </div>

              <label class="form-control" style="font-size: 2rem;">${
                alt.text ?? alt
              } </label>
          </div>
      `
      );
    });
  }

  function setCorrectAlternative(questionId, idx) {
    globalQuestion["selected_alternative"] = parseInt(idx);
  }

  async function sendResponse() {
    if (globalQuestion.selected_alternative === undefined) {
      alert("Please, select an alternative before sending your response.");
      return;
    }

    let response = await fetch(`/quiz/${globalQuestion.id}/play`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        question: globalQuestion,
      }),
    });

    if (!response.ok) {
      throw new Error(`Erro: ${response.status}`);
    }

    let data = await response.json();
    console.log(data);

    if (data.status) {
      // Próxima questão
      innitNextQuestion(data.question);
    } else {
      // Quiz finalizado
      window.location.href = `/quiz/${data.session_id}/result`;
    }
  }

  function innitNextQuestion(nextQuestion) {
    globalQuestion = nextQuestion;
    renderQuestion();
  }
</script>
{% endblock %}
