{% extends "layout.html" %} {% block content %}

<main id="play-questions-container"></main>

<footer>
  <!-- TEMPO PARA RESPONDER / CRONÔMETRO-->
</footer>

<script id="question-data" , type="aplication/json">
  {{ question | tojson }}
</script>
<script>
  const question = JSON.parse(
    document.getElementById("question-data").textContent
  );

  document.addEventListener("DOMContentLoaded", () => {
    console.log(question);
    renderQuestion();
  });

  function renderQuestion() {
    const questionContainer = document.getElementById(
      "play-questions-container"
    );

    questionContainer.insertAdjacentHTML(
      "beforeend",
      `
        <div class="card"  style="width: 800px; height: 500px;">
          <div class="card-header bg-primary text-white" style="text-align: center;">
            <strong style="font-size: 1.5rem;">${question.proposition}</strong>
          </div>
          <div class="card-body">
            <div id="alternatives-${question.id}">
                <!-- renderAlternatives preenche aqui -->
            </div>

            <div style="text-align: center; margin-top: 50px;">
                <button class="btn btn-success btn-lg" onclick="sendResponse()">
                <strong>Send response</strong>
              </button>
            </div>
          </div>

          <div class="card-footer">Assunto: ${question.theme}</small></div>
        </div>
    `
    );
    renderAlternatives();
  }

  function renderAlternatives() {
    const containerAlternatives = document.getElementById(
      `alternatives-${question.id}`
    );
    question.alternatives.forEach((alt, idx) => {
      console.log(alt);
      containerAlternatives.insertAdjacentHTML(
        "beforeend",
        `
          <div class="input-group mb-2">
              <div class="input-group-text">
                  <input
                      class="form-check-input"
                      type="radio"
                      name="correct-${question.id}"
                      id="alt-${alt.label}-${question.id}"
                      onchange="setCorrectAlternative(${question.id}, '${idx}')"
                      required
                  > 
              </div>

              <label class="form-control" style="font-size: 2rem;">${
                alt.text ?? alt
              } </label>
          </div>
      `
      );
    });
  }

  function setCorrectAlternative(questionId, idx) {
    question["selected_alternative"] = parseInt(idx);
    console.log(question);
  }

  async function sendResponse() {
    if (question.selected_alternative === undefined) {
      alert("Please, select an alternative before sending your response.");
      return;
    }

    console.log(question);

    const response = await fetch(`/quiz/${question.id}/play`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        question,
      }),
    });

    if (!response.ok) {
      throw new Error(`Erro: ${response.status}`);
    }

    const data = await response.json();

    if (data.status) {
      // Próxima questão
      window.location.reload((question = data.question));
    } else {
      // Quiz finalizado
      window.location.href = `/quiz/${question.quiz_id}/result`;
    }
  }
</script>
{% endblock %}
